apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: devops-platform-dev
namePrefix: dev-

commonLabels:
  environment: dev

resources:
  - ../../base

patches:
  - target:
      kind: Deployment
      name: devops-platform-app
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/cpu
        value: 50m
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: 64Mi
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: 200m
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: 256Mi
  - target:
      kind: ConfigMap
      name: devops-platform-app-config
    patch: |-
      - op: replace
        path: /data/APP_ENV
        value: development
      - op: replace
        path: /data/LOG_LEVEL
        value: debug
