apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: devops-platform-prod
namePrefix: prod-

commonLabels:
  environment: production

resources:
  - ../../base

patches:
  - target:
      kind: Deployment
      name: devops-platform-app
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/cpu
        value: 250m
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: 256Mi
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: "1"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: 1Gi
  - target:
      kind: ConfigMap
      name: devops-platform-app-config
    patch: |-
      - op: replace
        path: /data/LOG_LEVEL
        value: warn
