apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: devops-platform-staging
namePrefix: staging-

commonLabels:
  environment: staging

resources:
  - ../../base

patches:
  - target:
      kind: Deployment
      name: devops-platform-app
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
  - target:
      kind: ConfigMap
      name: devops-platform-app-config
    patch: |-
      - op: replace
        path: /data/APP_ENV
        value: staging
